<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= display_meta_tags site: "Gumdrop" %>

    <%= stylesheet_link_tag "application" %>

    <%= javascript_pack_tag "application" %>
    <%= stylesheet_pack_tag "application", "data-turbo-track": "reload" %>

  </head>

  <body class="overflow-x-hidden bg-page-background">
    <main class="w-full min-h-screen h-full">
        <%= yield %>
    </main>
  </body>
</html>
